.btn-test {
  background-color: #db4c3f;
  color: #fff;
  border: none;
  text-align: center;
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  min-width: 150px;
}
.btn-disabled {
  background-color: #d0d0d0;
  color: #fff;
  border: none;
  text-align: center;
  padding: 8px;
  font-weight: 500;
  border-radius: 8px;
  height: 32px;
  width: 100px;
}
.btn-test:hover {
  background-color: #d6584e;
  cursor: pointer;
}

.input-test {
  border: 0;
  font-size: 18px;
  padding: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
